<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/aboutcourse.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-logo">
            <img src="https://logos-world.net/wp-content/uploads/2023/03/Ola-Cabs-Logo.png" alt="Logo">
        </div>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/aboutme">Sobre mim</a></li>
            <li><a href="/aboutsenai">Sobre Senai</a></li>
            <li><a href="/aboutcourse">Sobre o Curso</a></li>
        </ul>
    </nav>

    <main>
        <h1>Sobre o curso</h1>
        <p>O curso de Desenvolvimento de Software oferecido pelo SENAI Prof. Dr. Euryclides de Jesus Zerbini é uma formação técnica de alta qualidade voltada para a capacitação de profissionais aptos a atuar no crescente mercado de tecnologia da informação. Com foco em programação, análise de sistemas, desenvolvimento de aplicações web e mobile, o curso prepara os alunos para projetar, implementar e manter soluções de software eficientes e inovadoras.</p>
    </main>

    <footer>
        <p>&copy; Eu nao sei oque colocar aqui entao fica esse texto mesmo.</p>
    </footer>

</body>
</html>
