<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/aboutsenai.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-logo">
            <img src="https://logos-world.net/wp-content/uploads/2023/03/Ola-Cabs-Logo.png" alt="Logo">
        </div>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/aboutme">Sobre mim</a></li>
            <li><a href="/aboutsenai">Sobre Senai</a></li>
            <li><a href="/aboutcourse">Sobre o Curso</a></li>
        </ul>
    </nav>

    <main>
        <h1>Sobre o senai</h1>
        <p>A Escola SENAI "Prof. Dr. Euryclides de Jesus Zerbini" é uma das mais respeitadas unidades da rede SENAI no estado de São Paulo. Localizada na capital paulista, ela leva o nome de um dos maiores nomes da medicina brasileira — Dr. Euryclides de Jesus Zerbini, renomado cirurgião cardíaco que realizou o primeiro transplante de coração da América Latina. A homenagem reforça o compromisso da escola com a excelência, a inovação e o progresso técnico.</p>
    </main>

    <footer>
        <p>&copy; Eu nao sei oque colocar aqui entao fica esse texto mesmo.</p>
    </footer>

</body>
</html>
