<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/aboutme.css">
</head>

<body>

    <nav class="navbar">
        <div class="navbar-logo">
            <img src="https://logos-world.net/wp-content/uploads/2023/03/Ola-Cabs-Logo.png" alt="Logo">
        </div>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/aboutme">Sobre mim</a></li>
            <li><a href="/aboutsenai">Sobre Senai</a></li>
            <li><a href="/aboutcourse">Sobre o Curso</a></li>
        </ul>
    </nav>

    <main>
        <h1>Sobre mim</h1>
        <p class="e">Eu sou isso e aquilo e aquele outra lá e aquele cara também</p>
        <img src="https://uploads.jovemnerd.com.br/wp-content/uploads/2017/07/bigode-1.jpg" alt="" class="main-image">
        <p class="k">Hector Ruy</p>
    </main>

    <footer>
        <p>&copy; Eu nao sei oque colocar aqui entao fica esse texto mesmo.</p>
    </footer>

</body>

</html>