<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-logo">
            <img src="https://logos-world.net/wp-content/uploads/2023/03/Ola-Cabs-Logo.png" alt="Logo">
        </div>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/aboutme">Sobre mim</a></li>
            <li><a href="/aboutsenai">Sobre Senai</a></li>
            <li><a href="/aboutcourse">Sobre o Curso</a></li>
        </ul>
    </nav>

    <main>
        <h1>Bem-vindo </h1>
        <p class="f">Este é um site com conteudos daora.</p>
    </main>

    <footer>
        <p class="oi">&copy; Eu nao sei oque colocar aqui entao fica esse texto mesmo.</p>
    </footer>

</body>
</html>
